@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Hello from Sakana Oxford! The time is @DateTime.Now</p>
        <img src="~/Sakana1.jpg" alt="Sushi" width="1254" height="464">
    </div>
